/* -----------------------------------------------
	Stylesheet for Portfolio Website  
	31 July 2020 - Patricia (Davin) Hayden
-------------------------------------------------- */

body {
  	font-family: Arial;
  	color: black; /* darkslateblue */
  	font-size: 14px;
  	//background: rgb(44, 44, 44); /* black-ish */
  	background-image: url("hexagon-tech-wallpaper.jpg"); /* bkg is blank to right of content when browser is super wide - could repeat bkg img ? */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Class used by JS to display dynamic content based on URL query string eg for name/email/copyright info etc */
.dynamic-content {
	display:none; 
}


/* -----------------------------------------------
	MAVIGATOIN MENU 
	Investigate how to make menu less wide if viewport is smaller
-------------------------------------------------- */

#menu ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color:  slateblue;
  background-color: hsl(288, 62%, 25%);
  //border: 5px purple solid;
  //width: 90%;
}

#menu  li {
  float: left;
  list-style-type: none; /* need this here so bullet point doesnt appear in navigation menu */
  //width: 20%; /* this makes 5 menu items take up same amount of space each, but when window is very small, menu words then overlap - needs further investigation */
  //overflow: scroll;
}

#menu  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
  //font-family: Arial, Helvetica, sans-serif; (size was 20px)
  font-style: italic;
  font-size: 200%;
  //width: 20%;
}

/* Change the bkg link color thats on hover */
#menu  li a:hover {
	background-color: slateblue;
}

/* currently active menu item - code will come in handy once i have multiple pages */
#menu  .active {
  color: white;
  //background-color: rgb(89, 25, 105); //background-color:  hsl(205, 70%, 75%);
  //border: 2px solid slategray;
}


/* -----------------------------------------------
	Headings & Basic Formatting
-------------------------------------------------- */

p {
	color: black	; 
	font-size: 25px;
}

section p {
	color: black;
	font-size: 16px;
	line-height: 130%; // 130% = 1.3 ?
}

strong {
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	font-size: 180%;
}

h1 {
	color: purple; //lightskyblue
	//font-size: 200%;
}
h2 {
	color: hsl(288, 62%, 25%);
	font-size: 250%;
	font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;
	margin-top: 10px;
	margin-bottom: 10px;
	//font-style: bold;
}

h3 {
	color: hsl(288, 62%, 25%);
	font-size: 140%;
}

h4 {
	font-size: 120%;
	font-style: bold;
	color: slateblue;
}

h5 {
	font-size: 110%;
	font-style: italic;
	line-height: 0px;
	margin-top: 30px;
	margin-bottom: 0px;
}

/* Text for link to github content thats Coming Soon */
.ghub_link {
	font-size: 90%;
	color: hsl(30, 100%, 50%); // orange
	//color: hsl(120, 100%, 20%); // green
	font-style: italic;
	margin: 0px;
	padding: 0px;
}

/* Images in project portfolio sections */
img {
	width: 100%;
	max-width: 100%;
	height:auto;
}

hr {
	color: slategray;
	border: 1px solid;
	width: 50%;
}


/* -----------------------------------------------
	Lists 
	For any other list that is not the main navigation menu 
-------------------------------------------------- */

ul li {
  list-style-type: square;
  overflow: visible;
  color: black;
  font-size: 16px;
  line-height: 140%;
}


/* -----------------------------------------------
	Containers
-------------------------------------------------- */

/* overall main container */
.container {
	width: 95%;
	margin: 0 auto;
	/* 
	background-color: lightskyblue ; 
	border: 2px dashed red; */
}

/* main container for portfolio projects */
.project_container {
	margin: auto; /* used to center this div inside its parent */
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
  	margin-left: 5px; /* used to compensate for drop-shadow on right of project divs */
	/*border: 1px dashed red; */
}

/* divs for portfolio projects eg Legacy Websites or Powershell Scripts etc */
.project_container > div {
  	flex: 1 1 250px;
  	background-color:  hsl(205, 70%, 75%); /* same blue as lightblue seection but less saturation */
	border: slateblue 5px solid; 
	margin: 0px 25px 25px 0px;
	padding: 10px;
	box-shadow: 10px 10px 10px lightslategray;
	/*
	box-shadow: -10px -10px 10px slateblue;
	background-color: rgb(163, 195, 253);
	background-color: rgb(93, 220, 230);
	line-height: 0px; */
}

/* for portrait of self or avatar */
#portrait_container {
	width: 50%;
}


/* -----------------------------------------------
	Background colours for new Sections
-------------------------------------------------- */

section .lightblue {
	background-color:  hsl(205, 90%, 75%);
	border: solid red 0px;
	margin: 0 auto;
	padding: 10px 30px;
}

section .darkblue {
	background-color:  hsl(205, 70%, 60%); /* rgb(63, 114, 191); */
	border: solid red 0px;
	margin: 0 auto;
	padding: 10px 30px;
}


/* -----------------------------------------------
	Footer section 
-------------------------------------------------- */
footer {
	//margin-top: 150px;
	background-color: hsl(288, 62%, 25%);
	//background-color: slateblue;
	color: white;
	padding: 5px 5px;
	//border: 1px black solid; //seems margin doesn take effect unless border has an actual thickness
}

/* applies to foot p AND anchor links under footer p only */
footer p, footer p > a {
	text-align: center;
	font-size: 14px;
	font-style: bold;
	color: white;
	text-decoration: none;
	margin-left: 10px;
	margin-right: 10px;
	//margin: 0px 10px;
	//margin-top: 150px;
	//padding-top: 15px;
	//padding-bottom: 15px;
}


/* -----------------------------------------------
	Media Queries
	Needs more work eg menu width, and section left & righth margins, should adjust to width of browser window
-------------------------------------------------- */

@media screen and (max-width: 768px) {
	#container {
		width: 90%;	
	}
	
	h1 {
		//font-size: 200%;	
	}
}

//maybe i need one for mobiles ie 200px wide? doenst seem to be working?


/* For width 400px and larger: */
@media only screen and (min-width: 400px) {
  img {
	max-width: 100%;
	height:auto;
	}
	#portrait_container {
		max-width: 25%; /* still applied when browser width is smaller, why? */
	}
}

/* For width 400px and smaller: */
@media only screen and (max-width: 400px) {
	.project_container {
		display: block;
	}
	/* this menu stuff is currently not working! */
	#nav ul li  {
		width: 20%;
	}
	#nav ul li a {
		font-size: 80%;
		color: yellow;
	}
}


/* Useful for testing & seeing all the borders around div elements
div * {
	border:1px solid yellow;
}
*/